*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width:380px;
    height:420px;
    background: #1c1c1c;
    border-radius: 8px;
}
.box form{
    position:absolute;
    inset:4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index:2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
    
}
.box form .inputBox input{
    position: relative;
    width: 100% ;
    padding: 20px 10px 10px;
    background: transparent;
    outline:none;
    border: none;
    box-shadow: none;
    color:#23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);

}